/*webkit-sassui-ios7-bubble Start*/
//body :
$webkit-sassui-ios7-bubble-bg-color:#fff !default;
$webkit-sassui-ios7-bubble-padding:10px 20px !default;
$webkit-sassui-ios7-bubble-border-radius:25px !default;

//primary:
$webkit-sassui-ios7-bubble-primary-bg-color:#0B93F6 !default;
$webkit-sassui-ios7-bubble-primary-text-color:#FFF !default;

//secondary:
$webkit-sassui-ios7-bubble-secondary-bg-color:#E5E5EA !default;
$webkit-sassui-ios7-bubble-secondary-text-color:#000 !default;


.webkit-sassui-ios7-bubble {
  position: relative;
  padding: $webkit-sassui-ios7-bubble-padding;
  border-radius: $webkit-sassui-ios7-bubble-border-radius;
  display: inline-block;
  max-width:60%;

  &:before,
  &:after{
    content: "";
    position: absolute;
    height: 20px;
    bottom: -2px;
  }

  &:before {
    transform: translate(0, -2px);
  }

  &:after {
    width: 26px;
    background: $webkit-sassui-ios7-bubble-bg-color;
    transform: translate(-30px, -2px);
  }


  &[data-role=primary] {
    background: $webkit-sassui-ios7-bubble-primary-bg-color;
    color: $webkit-sassui-ios7-bubble-primary-text-color;

    &:before {
      left: -7px;
      z-index: 2;
      border-left: 20px solid $webkit-sassui-ios7-bubble-primary-bg-color;
      border-bottom-right-radius: 16px 14px;
    }

    &:after {
      z-index: 3;
      left: 4px;
      border-bottom-right-radius: 10px;
    }
  }


  &[data-role=secondary] {
    color: $webkit-sassui-ios7-bubble-secondary-text-color;
    background: $webkit-sassui-ios7-bubble-secondary-bg-color;
    &:before {
      right: -7px;
      z-index: -1;
      border-right: 20px solid $webkit-sassui-ios7-bubble-secondary-bg-color;
      border-bottom-left-radius: 16px 14px;
    }

    &:after {
      z-index: 1;
      right: -56px;
      border-bottom-left-radius: 10px;
    }
  }
}
/*webkit-sassui-ios7-bubble End*/
