/*webkit-sassui-ios7-bubble Start*/
$body-bg-color: #fff;
$padding: 10px 20px;
$border-radius:25px;


$left-bg-color: #0B93F6;
$left-text-color:#fff;

$right-bg-color: #E5E5EA;
$right-text-color:#000;


.webkit-sassui-ios7-bubble {
  position: relative;
  padding: $padding;
  border-radius: $border-radius;
  display: inline-block;
  max-width:60%;

  &:before,
  &:after{
    content: "";
    position: absolute;
    height: 20px;
    bottom: -2px;
  }

  &:before {
    transform: translate(0, -2px);
  }

  &:after {
    width: 26px;
    background: $body-bg-color;
    transform: translate(-30px, -2px);
  }


  &[data-bubble-type='left'] {
    position: relative;
    padding: $padding;
    background: $left-bg-color;
    color: $left-text-color;

    &:before {
      left: -7px;
      z-index: 2;
      border-left: 20px solid $left-bg-color;
      border-bottom-right-radius: 16px 14px;
    }

    &:after {
      z-index: 3;
      left: 4px;
      border-bottom-right-radius: 10px;
    }
  }


  &[data-bubble-type='right'] {
    color: $right-text-color;
    background: $right-bg-color;
    &:before {
      right: -7px;
      z-index: -1;
      border-right: 20px solid $right-bg-color;
      border-bottom-left-radius: 16px 14px;
    }

    &:after {
      z-index: 1;
      right: -56px;
      border-bottom-left-radius: 10px;
    }
  }
}
/*webkit-sassui-ios7-bubble End*/
